.card {
  max-width: 100%;
  height: 100%;
}

.cardactions {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
}

.cardImageContainer {
  overflow: hidden;
  height: 300px;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 100%;
}

figure .cardImage {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

figure .cardImage:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
